{% extends "base.html" %}

{% block content %}
{% load thumbnail %}
{% load format %}
{% load tags %}
{% load podcasts %}
{% load pagination_tags %}

<div id="breadcrumb"> 
	<a href="/">Home</a>&nbsp;&nbsp;&#187;&nbsp;&nbsp;Blogs
</div> 
<div class="hr-full"></div>

<div id="content-full" class="rounded"> 
<h3>Disney Blogs</h3> 
	{% if msg %}
		{{ msg }}
	{% else %}
<p>Our systems are in the process of going through Disney blogs and tagging their entries and categorizing them so you can find what you want to read.</p>
<p>If you have a Disney blog you like or are the author of, please send us the link and any comments you have about the blog by using the form below. Feel free to recommend tags or category names for this blog.</p>

		<form method="post" action="." class="form1" id="theForm">
		<fieldset>
			<label for="id_name" style="width:120px; padding-top:3px;" class="floatLeft">Blog Name:</label>
			<input type="text" id="id_name" name="name" value=""  class="text" style="width:250px;" />
			<br /><br />
			<label for="id_email" style="width:120px; padding-top:3px;" class="floatLeft">Your Email:</label>
			<input type="text" id="id_email" name="email" value="" class="text" style="width:250px;" />
			<br /><br />
			<label for="id_link" style="width:120px; padding-top:3px;" class="floatLeft">Link to Blog:</label>
			<input type="text" id="id_link" name="link" value="" class="text" style="width:400px;" />
			<br /><br />
			<label for="id_comment" style="width:120px; padding-top:3px;" class="floatLeft">Comment:</label>
			<textarea id="id_comment" name="comment" class="text" style="width:400px; height:300px;"></textarea><br />
			<br /><br />
		</fieldset>
		<a href="#" id="submit" class="button-sml" style="margin-left:120px;">Submit</a>
		</form>
		
		<script type="text/javascript">
		$(document).ready(function() {
		
			$("#submit").bind('click', function() {
				$("#theForm").submit();
				return false;
			});
		});
		</script>
	{% endif %}

</div>

{% endblock %}

