{% comment %}
<ul id="share-links" class="rounded">
	<li><script type="text/javascript">tweetmeme_style = 'compact';</script><script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script></li>
	<li><a name="fb_share" type="button_count" href="http://www.facebook.com/sharer.php">Share</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script></li>
	<li><a href="http://www.google.com/reader/link?url=<site_url>&title=<title>&srcURL=<dizcollect.com>" target="_blank" class="share-buzz">Buzz This</a></li>
</ul>
{% endcomment %}
<ul id="share-links" class="rounded">
	<li><strong>Share DizCollect: </strong></li>
	<li>
		<a id="ck_email" class="stbar chicklet" href="javascript:void(0);"><img src="http://w.sharethis.com/chicklets/email.gif" /></a>
		<a id="ck_facebook" class="stbar chicklet" href="javascript:void(0);"><img src="http://w.sharethis.com/chicklets/facebook.gif" /></a>
		<a id="ck_twitter" class="stbar chicklet" href="javascript:void(0);"><img src="http://w.sharethis.com/chicklets/twitter.gif" /></a>
		<a id="ck_digg" class="stbar chicklet" href="javascript:void(0);"><img src="http://w.sharethis.com/chicklets/digg.gif" /></a>
		<a id="ck_ybuzz" class="stbar chicklet" href="javascript:void(0);"><img src="http://w.sharethis.com/chicklets/ybuzz.gif" /></a>		
		<a id="ck_sharethis" class="stbar chicklet" href="javascript:void(0);"><img src="http://w.sharethis.com/chicklets/sharethis.gif" /></a>
		<script type="text/javascript">
			var shared_object = SHARETHIS.addEntry({
			title: document.title,
			url: document.location.href
		});
		
		shared_object.attachButton(document.getElementById("ck_sharethis"));
		shared_object.attachChicklet("digg", document.getElementById("ck_digg"));
		shared_object.attachChicklet("yahoo_buzz", document.getElementById("ck_ybuzz"));
		shared_object.attachChicklet("email", document.getElementById("ck_email"));
		shared_object.attachChicklet("facebook", document.getElementById("ck_facebook"));
		shared_object.attachChicklet("twitter", document.getElementById("ck_twitter"));
		</script>

	</li>
</ul>