{% load posts %}
{% sidebar_archive as archives %}
{% sidebar_categories as categories %}

<div id="blog-sidebar"> 
	<a href="/news/feed" class="rss" title="Rss Feed">Subscribe to RSS Feed</a>	
	<div class="module rounded">
		<h3 class="title">Categories</h3>
		<ul id="archives">
		{% for cat in categories %}
			<li>&#187; <a href="/news/category/{{ cat.slug }}">{{ cat.title }}</a></li>
		{% endfor %}
		</ul>
	</div>	
	<div class="module rounded">
		<h3 class="title">Archives</h3>
		<ul id="archives">
		{% for archive in archives %}
			<li>&#187; <a href="/news/{{ archive|date:"Y/m" }}">{{ archive|date:"F Y" }}</a></li>
		{% endfor %}
		</ul>
	</div>

	<div class="facebook-fanwidget">
	{% include "ursula/includes/facebook.html" %}	
	</div>
	<div class="module rounded" style="text-align:center;">
		<a href="http://www.dreamteamproject.org" target="_blank"><img src="http://media.dizcollect.com/img/dream-team-project-make-a-wish-300x300.gif" alt="Dream Tream Project" /></a>
	</div>	
	<div class="twitter">
	{% include "ursula/includes/twitter.html" %}
	</div>
	
</div> 
