{% extends "base.html" %}
{% block title %}Change your password?{% endblock %}
{% load field_value %}
{% block content %}

<div id="content-full" class="rounded">
	<div class="floatLeft" style="padding-left:10px; padding-top:5px;">
	<h2>Change Your Password?</h2><br />
	<form method="post" action="." class="form1" id="theForm">
	<fieldset>
		<label for="id_new_password1" style="width:160px; padding-top:3px;" class="floatLeft">Old Password:</label>
		<input type="password" id="id_old_password" name="old_password" value=""  class="text" style="width:200px;" />
		{% if form.errors.old_password %}<br /><div class="error" style="padding-left:160px; padding-top:5px;">{{ form.errors.old_password|striptags }}</div>{% endif %}
		<br /><br />	
		<label for="id_new_password1" style="width:160px; padding-top:3px;" class="floatLeft">New Password:</label>
		<input type="password" id="id_new_password1" name="new_password1" value=""  class="text" style="width:200px;" />
		{% if form.errors.new_password1 %}<br /><div class="error" style="padding-left:160px; padding-top:5px;">{{ form.errors.new_password1|striptags }}</div>{% endif %}
		<br /><br />
		<label for="id_new_password2" style="width:160px; padding-top:3px;" class="floatLeft">Confirm New Password:</label>
		<input type="password" id="id_new_password2" name="new_password2" value=""  class="text" style="width:200px;" />
		{% if form.errors.new_password2 %}<br /><div class="error" style="padding-left:160px; padding-top:5px;">{{ form.errors.new_password2|striptags }}</div>{% endif %}
		<br /><br />
	</fieldset>
	<br />
	<a href="#" id="submit" class="button-med">Reset Your Password</a>
	<br /><br />
	</form>
	</div>
</div>


<script type="text/javascript">
$(document).ready(function() {

	$("#submit").bind('click', function() {
		$("#theForm").submit();
		return false;
	});
});
</script>


{% endblock %}