{% extends "base.html" %}
{% block title %}Forgot Your Password?{% endblock %}
{% load field_value %}
{% block content %}

<div id="content-full" class="rounded">
	<div class="floatLeft" style="padding-left:10px; padding-top:5px;">
	<h2>Forgot Your Password?</h2><br />
	<form method="post" action="." class="form1" id="theForm">
	<fieldset>
		<label for="email" style="width:120px; padding-top:3px;" class="floatLeft">Email address:</label>
		<input type="text" id="id_email" name="email" value="{{ form.email|field_value }}"  class="text" style="width:200px;" />
		{% if form.errors.email %}<br /><div class="error" style="padding-left:120px; padding-top:5px;">{{ form.errors.email|striptags }}</div>{% endif %}
		<br /><br />
	</fieldset>
	<br />
	<a href="#" id="submit" class="button-med">Reset Your Password</a>
	</form>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function() {

	$("#submit").bind('click', function() {
		$("#theForm").submit();
		return false;
	});
});
</script>


{% endblock %}
