{% extends "base.html" %}
{% block title %}Reset Your Password?{% endblock %}
{% load field_value %}
{% block content %}


{% if validlink %}

<div id="content-full" class="rounded">
	<div class="floatLeft" style="padding-left:10px; padding-top:5px;">
	<h2>Reset Your Password?</h2><br />

	<form method="post" action="." class="form1">
	<fieldset>
		<label for="id_new_password1" style="width:130px; padding-top:3px;" class="floatLeft">New Password:</label>
		<input type="password" id="id_new_password1" name="new_password1" value=""  class="text" style="width:200px;" />
		{% if form.errors.new_password1 %}<br /><div class="error" style="padding-left:130px; padding-top:5px;">{{ form.errors.new_password1|striptags }}</div>{% endif %}
		<br /><br />
		<label for="id_new_password2" style="width:130px; padding-top:3px;" class="floatLeft">Confirm Password:</label>
		<input type="password" id="id_new_password2" name="new_password2" value=""  class="text" style="width:200px;" />
		{% if form.errors.new_password2 %}<br /><div class="error" style="padding-left:130px; padding-top:5px;">{{ form.errors.new_password2|striptags }}</div>{% endif %}
		<br /><br />
		
	</fieldset>
	<br />
	<input type="submit" id="submit" name="submit" value="Reset Your Password" /><br /><br />
	</form>
	</div>
</div>

{% else %}
<div id="content-full" class="rounded">
	<div class="floatLeft" style="padding-left:10px; padding-top:5px;">
	<h2>Reset Your Password?</h2><br />
<p>Your password reset failed.</p>
<p>If you think this is an error, please <a href="/contact">contact us</a>.</p>
<p>Thank you,<br />DizCollect.com</p>
	</div>
</div>
{% endif %}

{% endblock %}