{% extends "base.html" %}
{% block title %}DizCollect: The easiest way to grow and track your Disney collection online!{% endblock %}
{% block meta_description %}At DizCollect we want to help you track and grow your collection of Disney Pins, Disney Dollars, Disney Books, Disney Vinylmation, Disney Blogs, Disney Podcasts, Disney Figurines, Disney Miniatures and much much more. Our site is in its infancy stage and will be growing by leaps and bounds over the coming days, months and years.{% endblock %}
{% block content %}
{% load thumbnail %}
{% load format %}
{% load items %}

<div class="home-left">
{% if not request.user.username %}
<div class="home-container rounded">
	<h2>Welcome to DizCollect</h2>
	<div class="hr-full"></div>	
	<p>At DizCollect we want to help you track and grow your collection of <a href="/collectibles/pins/"><strong>Disney Pins</strong></a>, <a href="/collectibles/vinylmations/"><strong>Disney Vinylmation</strong></a>, <a href="/collectibles/disney-dollars/"><strong>Disney Dollars</strong></a>, <a href="/books"><strong>Disney Books</strong></a>, <strong>Disney Figurines</strong>, <strong>Disney Miniatures</strong> and much much more. Our site is in its infancy stage and will be growing by leaps and bounds over the coming days, months and years.</p>
	<p><strong>Our goal is to become the definitive destination for Disney Collectible information.</strong></p> 
	<p>I invite you to explore and start building your online portfolio today.</p>
</div>
{% endif %}
	<div class="home-container rounded">
	<h2>Disney Pins: {{ pins_title }}</h2>
	<div class="hr-full"></div>
		<ul class="item-list item-list-home">
		{% for pin in pins %}
			<li{% if forloop.counter|divisibleby:"5" %} class="home-last"{% else %} class="home"{% endif %}>
				<div class="image"><a href="/collectibles/pins/{{ pin.slug }}">
				{% if pin|first_image %}
					{% ifequal pin|first_image "img/pins/main/" %}
						<img src="{{MEDIA_URL}}img/missing_100x100.png" alt="{{ item.title }}" width="100" height="100" />
					{% else %}
						<img src="{% thumbnail pin|first_image 100x100 %}" alt="{{ pin.title }}" width="100" height="100" />
					{% endifequal %}
				{% else %}
				<img src="{{MEDIA_URL}}img/missing_100x100.png" alt="{{ item.title }}" width="100" height="100" />
				{% endif %}				
				</a></div>
				<div class="content"><a href="/collectibles/pins/{{ pin.slug }}">{% truncate pin.title 40 %}</a></div>
				<div class="meta">{{ pin.release_date|date:"m.d.Y" }}{% if pin.retail_price %} | ${{ pin.retail_price }}{% endif %}</div>
			</li>
		{% endfor %}
		</ul>
		<div class="hr-full"></div>
		<a href="{{ pins_more_url }}" class="view-more">View More '{{ pins_title }}' Pins &#187;</a>
		<!-- End home-news-list -->
	</div>

        <div class="home-container rounded">
        <img src="http://developer.ebay.com/join/logo/images/logo_rnoebay_intro.gif" alt="Right Now on EBay" />
	<div class="hr-full"></div>
        {% for ebay_item in ebay_list %}
	<div class="ebay-listing">
	{% if ebay_item.gallery_url %}
		<div class="ebay-img"><a href="{{ ebay_item.url }}" target="_blank"><img src="{{ ebay_item.gallery_url }}" alt="{{ ebay_item.title }}" border="0" width="110" height="110" /></a></div>
	{% endif %}
		<h4><a href="{{ ebay_item.url }}" target="_blank">{{ ebay_item.title }}</a></h4>
        <div class="end-time">Ends: {{ ebay_item.end_time|date:"D d M Y - h:i:s A" }} PST</div>
        <div class="price">Current Price: ${{ ebay_item.current_price }}</div>
        	{% if ebay_item.buyit_now_price %}<div class="price">Buy it Now: ${{ ebay_item.buyit_now_price }}</div>{% endif %}
    	</div>
	{% endfor %}


	</div>


	
	<div class="home-container rounded">
	<h2>Disney Vinylmations</h2>
	<div class="hr-full"></div>
		<ul class="item-list item-list-home">
		{% for v in vinylmations %}
			<li{% if forloop.counter|divisibleby:"5" %} class="home-last"{% else %} class="home"{% endif %}>
				<div class="image"><a href="{{ v.type.parent_url }}/{{ v.slug }}">
				{% if v|first_image %}
					{% ifequal v|first_image "img/pins/main/" %}
						<img src="{{MEDIA_URL}}img/missing_100x100.png" alt="{{ v.title }}" width="100" height="100" />
					{% else %}
						<img src="{% thumbnail v|first_image 100x100 %}" alt="{{ v.title }}" width="100" height="100" />
					{% endifequal %}
				{% else %}
				<img src="{{MEDIA_URL}}img/missing_100x100.png" alt="{{ v.title }}" width="100" height="100" />
				{% endif %}				
				</a></div>
				<div class="content"><a href="{{ v.type.parent_url }}{{ vslug }}">{% truncate v.title 40 %}</a>{{ pin.id }}</div>
				<div class="meta">{{ v.release_date|date:"m.d.Y" }}</div>
			</li>
		{% endfor %}
		</ul>
		<div class="hr-full"></div>
		<a href="/collectibles/vinylmations/" class="view-more">View More Disney Vinylmations &#187;</a>
		<!-- End home-news-list -->
	</div>	
	
	<div class="home-container rounded">
	<h2>Disney Books{% if books_title %}: {{ books_title }}{% endif %}</h2>
	<div class="hr-full"></div>
		<ul class="item-list item-list-home" style="padding-left:5px!important;">
		{% for item in books %}
		<li{% if forloop.first %} class="first"{% endif %}{% if forloop.counter0|divisibleby:"4" %} class="first"{% endif %} style="padding-bottom:30px; padding-left:20px;">
			<div class="image-mycol" style="text-align:center"><a href="{{item.type.parent_url }}/{{ item.slug }}">
			{% if item.image %}
				<img src="{{ item.image }}" alt="{{ item.title }}"  /></a>
			{% else %}
				<img src="{{MEDIA_URL}}img/missing_100x100.png" alt="{{ item.title }}" width="100" height="100" />
			{% endif %}
			</a></div><br />
			<div class="content"><a href="{{item.type.parent_url }}/{{ item.slug }}">{% truncate item.title 40 %}</a></div>
			<div class="meta">{{ item.release_date|date:"m.d.Y" }}{% if item.retail_price %} | ${{ item.retail_price }}{% endif %}</div>
		</li>
		{% endfor %}
		</ul>
		<div class="hr-full"></div>
		<a href="/books/" class="view-more">View More books &#187;</a>
		<!-- End home-news-list -->
	</div>
</div>

<div id="blog-sidebar"> 

	<div class="facebook-fanwidget">
	{% include "ursula/includes/facebook.html" %}	
	</div>


		<a href="http://touringplans.com/?utm_campaign=friends&utm_medium=website&utm_source=dizcollect&utm_content=r1&property_id=1" target="_blank"><img src="http://media.dizcollect.com/img/320x250Grey.png" alt="TouringPlans.com - Save Time and Money on your Disney Vacation" /></a>
		<br /><br />
	
	
	<div class="twitter">
	{% include "ursula/includes/twitter.html" %}
	</div>
	
</div>


		
{% endblock %}
